@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

html {
  background: linear-gradient(#fb8c87, #fdb465);
  height: 100%;
}
